body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-montserrat: Montserrat;
    --font-inter: Inter;
    --font-open-sans: "Open Sans";
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-smi: 13px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-8xl-3: 27.3px;
    --font-size-3xl: 22px;
    --font-size-xl: 20px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-7xl: 26px;
    --font-size-2xl: 21px;
    --font-size-21xl: 40px;
    --font-size-13xl: 32px;
    --font-size-41xl: 60px;
    --font-size-29xl: 48px;
    --font-size-17xl: 36px;
    --font-size-mini: 15px;
    --font-size-12xl-2: 31.2px;
    --font-size-6xl: 25px;
    --font-size-xs: 12px;
    --font-size-5xs: 8px;
    --font-size-base-7: 15.7px;
  
    /* Colors */
    --background-light-mode-white-100: #fff;
    --color-gray-100: #888;
    --color-gray-200: #848587;
    --color-gray-300: #222;
    --color-gray-400: #1b0b0b;
    --color-gray-500: #0a0a0a;
    --color-gray-600: rgba(255, 255, 255, 0.6);
    --color-gray-700: rgba(0, 0, 0, 0.4);
    --color-gray-800: rgba(0, 0, 0, 0.05);
    --color-gray-900: rgba(39, 39, 39, 0.6);
    --color-gray-1000: rgba(0, 0, 0, 0.1);
    --color-gray-1100: rgba(0, 0, 0, 0.8);
    --color-gray-1200: rgba(0, 0, 0, 0.6);
    --color-gray-1300: rgba(255, 255, 255, 0.7);
    --color-seagreen-100: #2b8266;
    --color-seagreen-200: #045c40;
    --color-black: #000;
    --color-dimgray-100: #666;
    --color-dimgray-200: #4d4d4d;
    --color-dimgray-300: rgba(77, 77, 77, 0.3);
    --color-whitesmoke-100: #f9f9fb;
    --color-whitesmoke-200: #f8f8f8;
    --color-darkslategray-100: #333;
    --color-gainsboro-100: #e8e7eb;
    --color-lightseagreen: #45a094;
    --color-darkgray: #999;
  
    /* Gaps */
    --gap-81xl: 100px;
    --gap-6xl: 25px;
    --gap-31xl: 50px;
    --gap-41xl: 60px;
    --gap-11xl: 30px;
    --gap-xl: 20px;
    --gap-11xs: 2px;
    --gap-7xs: 6px;
    --gap-mini: 15px;
    --gap-3xs: 10px;
    --gap-21xl: 40px;
    --gap-0: 0px;
    --gap-sm: 14px;
    --gap-5xs: 8px;
    --gap-9xs: 4px;
    --gap-101xl: 120px;
    --gap-221xl: 240px;
    --gap-16xl: 35px;
    --gap-mid: 17px;
    --gap-lg: 18px;
    --gap-8xs: 5px;
    --gap-base: 16px;
    --gap-smi: 13px;
    --gap-24xl: 43px;
    --gap-2xl: 21px;
    --gap-51xl: 70px;
  
    /* Paddings */
    --padding-371xl: 390px;
    --padding-101xl: 120px;
    --padding-78xl: 97px;
    --padding-176xl: 195px;
    --padding-21xl: 40px;
    --padding-11xl: 30px;
    --padding-3xs-5: 9.5px;
    --padding-3xs: 10px;
    --padding-lgi: 19px;
    --padding-8xs: 5px;
    --padding-4xs: 9px;
    --padding-xl: 20px;
    --padding-12xs: 1px;
    --padding-7xl: 26px;
    --padding-10xl: 29px;
    --padding-123xl: 142px;
    --padding-52xl: 71px;
    --padding-142xl: 161px;
    --padding-7xs: 6px;
    --padding-602xl: 621px;
    --padding-136xl: 155px;
    --padding-291xl: 310px;
    --padding-xs: 12px;
    --padding-161xl: 180px;
    --padding-26xl: 45px;
    --padding-71xl: 90px;
    --padding-mini-5: 14.5px;
    --padding-25xl: 44px;
    --padding-mini: 15px;
    --padding-smi: 13px;
    --padding-sm: 14px;
    --padding-10xs: 3px;
    --padding-2xs: 11px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-mid: 17px;
    --padding-9xs-5: 3.5px;
    --padding-9xs: 4px;
    --padding-base: 16px;
    --padding-53xl: 72px;
    --padding-31xl: 50px;
    --padding-9xs-3: 3.3px;
    --padding-8xl: 27px;
    --padding-4xs-5: 8.5px;
    --padding-84xl: 103px;
    --padding-188xl: 207px;
    --padding-97xl: 116px;
    --padding-213xl: 232px;
    --padding-9xl: 28px;
    --padding-51xl: 70px;
    --padding-6xs-5: 6.5px;
    --padding-154xl: 173px;
    --padding-144xl: 163px;
    --padding-62xl: 81px;
    --padding-414xl: 433px;
    --padding-197xl: 216px;
    --padding-89xl: 108px;
    --padding-13xl: 32px;
    --padding-411xl: 430px;
    --padding-196xl: 215px;
    --padding-88xl: 107px;
    --padding-178xl: 197px;
    --padding-79xl: 98px;
    --padding-202xl: 221px;
    --padding-91xl: 110px;
    --padding-200xl: 219px;
    --padding-90xl: 109px;
    --padding-206xl: 225px;
    --padding-93xl: 112px;
    --padding-xs-5: 11.5px;
    --padding-218xl: 237px;
    --padding-99xl: 118px;
    --padding-211xl: 230px;
    --padding-96xl: 115px;
    --padding-143xl: 162px;
    --padding-359xl: 378px;
    --padding-41xl: 60px;
    --padding-40xl: 59px;
    --padding-227xl: 246px;
    --padding-388xl: 407px;
    --padding-184xl: 203px;
    --padding-141xl: 160px;
    --padding-lgi-5: 19.5px;
    --padding-497xl: 516px;
    --padding-100xl: 119px;
    --padding-220xl: 239px;
    --padding-114xl: 133px;
    --padding-247xl: 266px;
    --padding-108xl: 127px;
    --padding-106xl: 125px;
    --padding-231xl: 250px;
  
    /* Border radiuses */
    --br-10xs: 3px;
    --br-3xs: 10px;
    --br-13xl: 32px;
    --br-29xl: 48px;
  }
  